*, 
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
html {
    font-size: 62.5%;
}

:root {
    --color-white: #fff;
    --color-gray: rgb(115, 118, 124);
    --background-color-blue: rgb(26, 87, 165);

    --font-family-open: "Open Sans", Arial, sans-serif;

    --font-size-sm: 1.6rem;
    --font-size-md: 5rem;
    --font-size-lg: 6.2rem;

    --spacing-sm: 4.8rem;
    --spacing-md: 10rem;
    --spacing-lg: 11.2rem;

    --screen-sm: 76.8rem;
    --screen-md: 99.2rem;
    --screen-lg: 120rem;
}

* {
    font-family: var(--font-family-open);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
    color: white;
}