.card{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 2rem;
    border: 1px solid #ddd;
    padding: 4rem;
 
}
.card h2{
    color: black;
    font-size: var(--font-size-sm);
    font-family: var(--font-family-open);
}

.price{
    color: var(--background-color-blue);
    font-size: var(--font-size-md);
    font-family: var(--font-family-open);
}

.para{
    color: var(--color-gray);
    font-size: 10px;
    font-family: var(--font-family-open);
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1rem;
}
.list li {
    color: var(--color-gray);
    font-size: var(--font-size-sm);
    font-family: var(--font-family-open);
     
}

.list li span {
    color: var(--background-color-blue);
    padding-right: 1rem;
     
}@media (max-width:1200px){
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
        border: 1px solid #ddd;
        padding: 4rem;
     
    }
    .card h2{
        color: black;
        font-size: var(--font-size-sm);
        font-family: var(--font-family-open);
    }
    
    .price{
        color: var(--background-color-blue);
        font-size: var(--font-size-md);
        font-family: var(--font-family-open);
    }
    
    .para{
        color: var(--color-gray);
        font-size: 10px;
        font-family: var(--font-family-open);
    }
    
    .list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
    }
    .list li {
        color: var(--color-gray);
        font-size: var(--font-size-sm);
        font-family: var(--font-family-open);
         
    }
    
    .list li span {
        color: var(--background-color-blue);
        padding-right: 1rem;
         
}}
@media (max-width:995px){
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
        border: 1px solid #ddd;
        padding: 4rem;
        width: 50rem;
     
    }
    .card h2{
        color: black;
        font-size: var(--font-size-sm);
        font-family: var(--font-family-open);
    }
    
    .price{
        color: var(--background-color-blue);
        font-size: var(--font-size-md);
        font-family: var(--font-family-open);
    }
    
    .para{
        color: var(--color-gray);
        font-size: 10px;
        font-family: var(--font-family-open);
    }
    
    .list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
    }
    .list li {
        color: var(--color-gray);
        font-size: var(--font-size-sm);
        font-family: var(--font-family-open);
         
    }
    
    .list li span {
        color: var(--background-color-blue);
        padding-right: 1rem;
         

}
}


@media (max-width:768px){
    .card{
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 2rem;
        border: 1px solid #ddd;
        padding: 4rem;
        width: 30rem;
        margin-left: 3rem;
     
    }
    .card h2{
        color: black;
        font-size: var(--font-size-sm);
        font-family: var(--font-family-open);
    }
    
    .price{
        color: var(--background-color-blue);
        font-size: var(--font-size-md);
        font-family: var(--font-family-open);
    }
    
    .para{
        color: var(--color-gray);
        font-size: 10px;
        font-family: var(--font-family-open);
    }
    
    .list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        row-gap: 1rem;
    }
    .list li {
        color: var(--color-gray);
        font-size: 12px;
        font-family: var(--font-family-open);
         
    }
    
    .list li span {
        color: var(--background-color-blue);
        padding-right: 1rem;
         
}
}