.Featuress{
    background-color: #D6E6F2;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 40px;
    font-weight: 200;
    font-family: inherit;
    
}

.Features1 hr {
    width: 60px;
    height: 3px;
    background-color: #1a57a5;
    border-radius: 102px;
    margin: auto;
    margin-top: 30px;
}

.Features1 h1 {
    margin-top: 30px;
    text-align: center;

}

.Features1 p {
    padding-top: 30px;
    width: 680px;
    margin: auto;
}

.cards6 {
    display: flex;
    margin-top: 60px;
    align-items: center;
}

.Firstcard,
.Secondcard,
.thirdcard {
    background-color: #fff;
    margin-left: 90px;
    

}

.Firstcard img,
.Secondcard img,
.thirdcard img {
    border-radius: 50px;
    padding-top: 20px;
    width: 100px;
    height: 100px;
    ;
    margin-right: 125px;

}

.Firstcard p,
.Secondcard p,
.thirdcard p {
    margin-top: 20px;
    width: 300px;
    font-style: italic;
}

.Firstcard hr,
.Secondcard hr,
.thirdcard hr {
    margin-top: 30px;
    width: 44px;
    margin-left: 20px;
    color: black;
}

.Firstcard h2,
.Secondcard h2,
.thirdcard h2 {
    color: #F79F24;
    margin-top: 30px;
    margin-left: -120px;
    padding: 2px;
}

.Firstcard h3,
.Secondcard h3,
.thirdcard h3 {
    margin-top: -12px;
    margin-bottom: 20px;
    color: #73767c;

}

.cards7 {
    display: inline-block;
}

@media(max-width:768px){
    .Features1 p {
        padding-top: 30px;
        width: 300px;
        margin: auto;
        text-align: center;
        color: rgba(255, 255, 255, .7);
    }
    .cards6 {
        display: flex;
        flex-wrap: wrap;
        margin-top: 60px;
        align-items: center;

    }
    .Firstcard, .Secondcard, .thirdcard {
        background-color: #fff;
        margin-left: 50px;
        margin-top: 30px;
    }
}