.card-element{
    background-color: #fff;
    width: 400px;
    margin-top: 10rem ;
     display: flex;
    flex-direction: row;
    justify-content: center;
    

}

.card-element .firstcard img{
    width: 100px;
    border-radius: 50%;
    padding: 2rem 2rem 2rem 2rem;
}

.card-element .firstcard h2{
    margin-left: 2rem;
    color: #F79F24;
    padding: 2rem 2rem 2rem 2rem;
}

.card-element .firstcard p{
    font-size: var(    --font-size-sm);
    font-family: var( --font-family-open);
    color: var( --color-gray);
    width: 40rem;
    padding: 2rem 2rem 2rem 2rem;
}

.card-element .firstcard h3{
    font-size: var(    --font-size-sm);
    font-family: var( --font-family-open);
    color: var( --color-gray);
    padding: 2rem 2rem 2rem 6rem;
}

@media (max-width:1500px){
    .card-element{
        background-color: #fff;
        
        width: 300px;
        margin-top: 10rem ;
         display: flex;
        flex-direction: row;
        justify-content: center;
        
    
    }
    
    .card-element .firstcard img{
        width: 100px;
        border-radius: 50%;
        padding: 2rem 2rem 2rem 2rem;
    }
    
    .card-element .firstcard h2{
        margin-left: 2rem;
        color: #F79F24;
        padding: 2rem 2rem 2rem 2rem;
    }
    
    .card-element .firstcard p{
        font-size: var(    --font-size-sm);
        font-family: var( --font-family-open);
        color: var( --color-gray);
        width: 30rem;
        padding: 2rem 2rem 2rem 2rem;
    }
    
    .card-element .firstcard h3{
        font-size: var(    --font-size-sm);
        font-family: var( --font-family-open);
        color: var( --color-gray);
        padding: 2rem 2rem 2rem 6rem;
    }
}
@media (max-width:1200px){
    .card-element{
        background-color: #fff;
        width: 300px;
        margin-top: 10rem ;
         display: flex;
        flex-direction: row;
        justify-content: center;
        
    
    }
    
    .card-element .firstcard img{
        width: 100px;
        border-radius: 50%;
        padding: 2rem 2rem 2rem 2rem;
    }
    
    .card-element .firstcard h2{
        margin-left: 2rem;
        color: #F79F24;
        padding: 2rem 2rem 2rem 2rem;
    }
    
    .card-element .firstcard p{
        font-size: var(    --font-size-sm);
        font-family: var( --font-family-open);
        color: var( --color-gray);
        width: 20rem;
        padding: 2rem 2rem 2rem 2rem;
    }
    
    .card-element .firstcard h3{
        font-size: var(    --font-size-sm);
        font-family: var( --font-family-open);
        color: var( --color-gray);
        padding: 2rem 2rem 2rem 6rem;
    }
}

@media (max-width:995px){
    .card-element{
        background-color: #fff;
        width: 250px;
        margin-top: 10rem ;
         display: flex;
        flex-direction: column;
        justify-content: center;
        
    
    }
    
    .card-element .firstcard img{
        width: 100px;
        border-radius: 50%;
        padding: 2rem 2rem 2rem 2rem;
    }
    
    .card-element .firstcard h2{
        margin-left: 2rem;
        color: #F79F24;
        padding: 2rem 2rem 2rem 2rem;
    }
    
    .card-element .firstcard p{
        font-size: var(    --font-size-sm);
        font-family: var( --font-family-open);
        color: var( --color-gray);
        width: 20.5rem;
        padding: 2rem 2rem 2rem 2rem;
    }
    
    .card-element .firstcard h3{
        font-size: var(    --font-size-sm);
        font-family: var( --font-family-open);
        color: var( --color-gray);
        padding: 2rem 2rem 2rem 6rem;
    }
}

@media(max-width:768px){
    .card-element{
        background-color: #fff;
        width: 300px;
        margin-left: 3rem;
        display: flex;
        flex-direction: row;
        justify-content: center;       

    }
    .firstcard{
        margin-left: 2rem;
    }
    .card-element .firstcard img{
        width: 100px;
        border-radius: 50%;
        padding: 2rem 2rem 2rem 2rem;
        
    }
    
    .card-element .firstcard h2{
        margin-left: 2rem;
        color: #F79F24;
        padding: 2rem 2rem 2rem 0px;
    }
    
    .card-element .firstcard p{
        font-size: var(    --font-size-sm);
        font-family: var( --font-family-open);
        color: var( --color-gray);
        width: 30rem;
        padding: 2rem 2rem 2rem 2rem;
        font-style: italic;
    }
    
    .card-element .firstcard h3{
        font-size: var(    --font-size-sm);
        font-family: var( --font-family-open);
        color: var( --color-gray);
        padding: 2rem 2rem 2rem 1.5rem;
    }
}