.Form-section{
    background-color:#D6E6F2 ;
}
.form-and-contact {
    display: flex;
    background-color: #D6E6F2;
    justify-content: center;
    padding: 14rem;
    gap: 16rem;
    max-width: 1600px;
    margin: auto;
}


.form-area {
    background-color: white;
    width: 60rem;
    height: fit-content;
    padding: 8rem;
}
.form-area h6 {
    font-size: 4rem;
    font-family: var(--font-family-open);
}
.form-area form {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    
}
form input{
    border: 1px solid #d9d9d9;
} 
.form-area form input {
    padding: 2rem;
    
}
.form-area form textarea {
    resize: none;
    height: 20rem;
    padding: 2rem;
    font-family: var(--font-family-open);
}
.form-area form input:last-child {
    all: unset;
    font-size: 2rem;
    background-color:  #1a57a5;
    color: white;
    padding: 1rem 3rem;
    font-family: var(--font-family-open);
    width: fit-content;
}

.contact {
    display: flex;
    flex-direction: column;
    row-gap: 3.3rem;
    font-size: 2.4rem;
}
.contact-text {
    display: flex;
    flex-direction: column;
    font-family: var(--font-family-open);
    row-gap: 1rem;
    color: rgba(0, 0, 0, .3);
    text-transform: uppercase;
}
.contact-value {
    text-transform: initial;
    color:#73767c ;
    font-family: var(--font-family-open);
    width: 40%;
}
@media (max-width: 1198px) {
    .form-and-contact {
        flex-direction: column;
        align-items: center;
    }
}
@media (max-width: 598px) {
    .form-and-contact {
        /* width: 90%; */
        padding: 3rem;
    }
    .form-area {
        width: 100%;
        padding: 3rem;
    }
    .contact-text {
        display: flex;
        flex-direction: column;
        font-family: var(--font-family-open);
        font-size: 20px;
        row-gap: 1rem;
        color: rgba(0, 0, 0, .3);
        text-transform: uppercase;
    }
    .contact-value {
        text-transform: initial;
        color:#73767c ;
        font-size: 16px;
        font-family: var(--font-family-open);
        width: 40%;
    }
}