.Features{
    background-color: #D6E6F2;
    text-align: center;
    padding-top: 20px;
}
.Features10 hr{
    width: 60px;
    height: 3px;
    background-color: #1a57a5;
    border-radius: 102px ;
     margin: auto;
     margin-top: 30px;
}
.Features10 h1{
    margin-top: 30px;
    
}
.Features1 p{
    padding-top: 30px;
    width: 680px;
    margin: auto;
}
.Features2 ,.Features3 ,.Features4{
    display: flex;
    margin-top: 115px;
    margin-left: 33px;
    
}
.Features2 img ,.Features4 img {
    width: 600px;
    height: 350px;
}
.Features2 p ,.Features3 p ,.Features4 p{
    margin-top: 35px;
}
.FeaturesDetails{
    margin-left: 90px;
}
.Features3 img{
    width: 600px;
    height: 350px;
    margin-left: 115px;
}
.Features3 ul{
    list-style-type: square;
    margin-top: 35px;
}
.Features4 ul{
    /* list-style-type: square; */
    margin-top: 35px;

}
.FeaturesDetails h2{
    margin-top: 40px;
    margin-left: -70px;
}
li{
    margin: auto;
    padding: 0%; 
}
ul{
    padding: auto;
    margin: auto;
}

@media (max-width:768px){
    .Features2 ,.Features3 ,.Features4{
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-left: 33px;
        
    }
    .Features2 img ,.Features4 img {
        width: 300px;
        height: 250px;
    }
    .FeaturesDetails h2{
        margin-top: 40px;
        margin-left: -130px;
    }
    .Features2 p ,.Features3 p ,.Features4 p{
        margin-top: 35px;
        margin-left: -85px;
        width: 300px;
    }
    .Features3 img{
        width: 300px;
        height: 250px;
        margin-left: 0px;
    }
    .Features10 p {
        padding-top: 30px;
        width: 300px;
        margin: auto;
        text-align: center;
        color: rgba(255, 255, 255, .7);
    }
    .Features3 ul{
        list-style-type: square;
        margin-top: 35px;
        margin-left: -72px;
    }
    ul{
        margin-left: -74px;

    }
    .FeaturesDetails{
        margin-bottom: 40px;
    }
    
}