.highlight-wrapper{
    padding-top: 15rem;
}
.highlight{
    margin: auto;
    max-width: var(--screen-lg);
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.highlight-card img{
    height: 11rem;
}

.highlight-card h1{
    font-size: 3.6rem;
    padding-top: 2rem;
    color: var(--background-color-blue);
    font-family: var(--font-faimly-open);
}

.highlight-card p{
    font-size: var(--font-size-sm);
    padding-top: 2rem;
    color: var(--color-gray);
    font-family: var(--font-faimly-open);
    padding-bottom: 2rem;
}

.highlight-card .incor-tag{
    display: flex;
    align-items: center;
    font-family: var(--font-faimly-open);
    font-size:2rem;
    padding: 2rem;
    color: var(--background-color-blue);
    margin-left: 16rem;
    gap: 11px;
}

.highlight-card .incor-tag a {
    color: var(--background-color-blue)
}

@media (max-width:1200px){
    .highlight-card{
        width: 28rem;
    }
    .highlight-card h1{
        font-size: 2.6rem;
        padding-top: 2rem;
        color: var(--background-color-blue);
        font-family: var(--font-faimly-open);
    }
    .highlight-card .incor-tag{
        display: flex;
        align-items: center;
        font-family: var(--font-faimly-open);
        font-size:2rem;
        padding: 2rem;
        color: var(--background-color-blue);
        margin-left: 10rem;
    }

}
@media (max-width:995px){
    .highlight-card{
        width: 80%;
    }
    .highlight{
        margin: auto;
        max-width: var(--screen-lg);
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 5rem;
    }
    .highlight-card h1{
        font-size: 2.6rem;
        padding-top: 2rem;
        color: var(--background-color-blue);
        font-family: var(--font-faimly-open);
    }
    .highlight-card .incor-tag{
        display: flex;
        align-items: center;
        font-family: var(--font-faimly-open);
        font-size:2rem;
        color: var(--background-color-blue);
        margin-left: 1rem;
    }

}