h1{
    color: black;
}
.HighLight{
    display: flex;
    justify-content: center;
    margin-top: 170px;
    margin-bottom: 200px;
}
.section1{
    width: 290px;
}
.section2{
    width: 290px; 
       margin-left: 85px;

}
.section3{
    width: 290px;
    margin-left: 85px;

}
.section1 img , .section2 img , .section3 img{
    height: 100px;
}
.section1 p , .section2 p , .section3 p{
    margin-top: 30px;
}
.section1 h1 , .section2 h1 , .section3 h1{
    margin-top: 30px;
}
.section1 button , .section2 button , .section3 button{
    margin-top: 30px;
    width: 110px;
    height: 30px;
    background: transparent;
    border: 3px solid #fff;
    font-size: larger;

}