.first-para p{
    font-size: var(--font-size-sm);
    font-family: var( --font-family-open);
    color: var(--color-gray);
    width: 500px;
    margin-left: 3.2rem;
    margin-top: 2rem;

}
.first-para span{
    color: var(--background-color-blue);
    font-size: var(--font-size-sm);
    margin-top: 2rem;
}

@media (max-width:1200px){
    .first-para p{
        font-size: var(--font-size-sm);
        font-family: var( --font-family-open);
        color: var(--color-gray);
        width: 300px;
        margin-left: 3.2rem;
        margin-top: 2rem;
    
    }
    .first-para span{
        color: var(--background-color-blue);
        font-size: 12px;
        margin-top: 2rem;
        margin-left: 6rem;
    }
}
@media (max-width:995px){
    .first-para p{
        font-size: var(--font-size-sm);
        font-family: var( --font-family-open);
        color: var(--color-gray);
        width: 300px;
        margin-left: 3.2rem;
        margin-top: 2rem;
    
    }
    .first-para span{
        color: var(--background-color-blue);
        font-size: 12px;
        margin-top: 2rem;
        margin-left: 6rem;
    }
}
@media (max-width:768px){
    .first-para p{
        font-size: var(--font-size-sm);
        font-family: var( --font-family-open);
        color: var(--color-gray);
        width: 300px;
        margin-left: 3.2rem;
        margin-top: 2rem;
    
    }
    .first-para span{
        color: var(--background-color-blue);
        font-size: 12px;
        margin-top: 2rem;
        margin-left: 6rem;
    }
}